.LoginSignup {
  width: 100%;
  background: #fce3fe;
  padding: 70px 0px;
}

.LoginSignup-container {
  width: 580px;
  background: white;
  margin: auto;
  padding: 40px 60px;
  
}

.LoginSignup-container h1 {
  margin: 20px 0px;
}

.LoginSignup-Fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.LoginSignup-Fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 18px;
}

.LoginSignup-Container button {
  width: 100%;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.LogiinSignupLogin {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.LogiinSignupLogin span {
  color: #ff4141;
  font-weight: 600;
}
.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and ( max-width: 600px){
  .LoginSignup-container {
    width: 90%;
    background: white;
    margin: auto;
    padding: 40px 20px;
    
  }
  .LoginSignup-Fields input {
    height: 60px;
    width: 100%;
    
  } 
  .LoginSignup-Container button {
    height: 60px;
    
  }
}