.Shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.Shopcatagory-indexsort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}

.Shopcatatogy-sort {
  padding: 10px 20px;
  border: 1px solid #888;
  border-radius: 40px;
}

.Shopcatagory-indexsort p span {
  font-weight: 600;
}

.Shopcatagory-Products {
  margin-left: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

.Shopcatagorie-Loadmode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and ( max-width: 600px){
  .Shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 100%;
  }
  .Shopcatagory-Products {
    margin-left: 0px;
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .Shopcatagory-indexsort {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
  .Shopcatagory-indexsort p{
    width: 50%;
  }
  
}