.Item {
  width: 100%;
}
.Item p {
  margin: 6px 0px;
  width: 90%;
}
.item_prices {
  display: flex;
  gap: 20px;
}
.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}
.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.Item :hover {
  transform: scale(1.05);
  transition: 06s;
}
@media only screen and ( max-width: 600px){
  .Item {
    width: 100%;
   margin-left: 30px; 
  }
  .Item p {
    margin: 6px 0px;
    width: 82%;
  }
}