.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0 1px 3px -2px black;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-logo p {
  display: flex;
  color: #171717;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-weight: 700;
}
.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #ff4141;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.cart-icon-pg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.cart-icon-pg button {
  align-items: center;
  flex-direction: column;
  /* height: 58px;
  width: 140px; */
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  padding: 10px 30px;
}

.cart-icon-pg button:active {
  background-color: #f3f3f3f3;
}
.cart-icon-count {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -27px;
  margin-left: -35px;
  border-radius: 11px;
  font-size: 14px;
  background-color: red;
  color: white;
}
@media only screen and ( max-width: 600px){
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;

  }
  .nav-logo img{
    width: 30px;
  }
  .nav-logo p {
    display: none;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    color: #626262;
    font-weight: 700;
  }
  .cart-icon-pg{
    display: flex;
    gap: 10px;
  }
  .cart-icon-pg button {
    align-items: center;
    flex-direction: column;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    padding: 10px 10px;
  }
  .cart-icon-count {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -22px;
    margin-left: -23px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
  }
  .cart-icon-pg img{
    width: 30px;
  }
}