.DiscriptionBox {
  margin: 120px 170px;
}
.DiscriptionBox-Navigater {
  display: flex;
}

.DiscriptionBox-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 171px;
  height: 60px;
  border: 1px solid #d0d0d0;
}

.DiscriptionBox-nav-box.fade {
  background: #fbfbfb;
  color: #555;
}

.DiscriptionBox-Discription {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #d0d0d0;
  padding: 48px;
  padding-bottom: 70px;
}
