.RealatedProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  gap: 10px;
}

.RealatedProduct h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.RealatedProduct hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.RealtedProduct-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
