.ProductDisplay {
  display: flex;
  align-items: center;
}

.ProductDisplay-left {
  display: flex;
  gap: 17px;
  padding-left: 20px;
}

.ProductDispplay-Img-List {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ProductDispplay-Img-List img {
  height: 163px;
}

.ProductDisplay-Main-Img {
  width: 586px;
  height: 700px;
}

.ProductDisplay-Right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

.ProductDisplay-Right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}

.ProductDisplay-Right-Stars {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 13px;
  color: #1c1c1c;
  font-size: 16px;
}

.ProductDisplay-right-price {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.ProductDisplay-right-old-price {
  color: #818181;
  text-decoration: line-through;
}
.ProductDisplay-right-new-price {
  color: #ff4141;
}
.ProductDisplay-right-size h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}
.ProductDisplay-right-Sizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.ProductDisplay-right-Sizes div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.ProductDisplay-Right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.ProductDisplay-right-Catagory {
  margin-top: 10px;
}

.ProductDisplay-right-Catagory span {
  font-weight: 600;
}
@media only screen and ( max-width: 600px){
  .ProductDisplay-left {
    gap: 17px;
    padding-left: 0px;
  }
  .ProductDispplay-Img-List {
    display: none;
  }
  .ProductDisplay-Img{
    width: 100%;
  }
  .ProductDisplay-Main-Img {
    width: 100%;
    height: 450px;
  }
  .ProductDisplay{
    display: grid;
    grid-template-columns: 1fr;
  }
  .ProductDisplay-Right {
    margin: 0;
    display: flex;
    gap: 0px;
    flex-direction: column;
  }
  .ProductDisplay-Right h1 {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 700;
  }
  .Product-right-discription{
    width: 100%;
  }
  .ProductDisplay-right-price{
    margin: 10px 0px;
  }
  .ProductDisplay-right-Sizes{
    width: 100%;
  }
  .ProductDisplay-right-Sizes div {
    padding: 18px 22px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
  }
}